
 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility !important;
    background-color: #f3f3f5;
}
.body-fixed{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: auto;
}
body,html{
    overflow: hidden;
}
img{
    max-width: 100%;
  
}
 

.site-header{
    position: fixed;
     padding: 0 450px ; 
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index:99;
    transition: 0.5s;
    border-bottom:  1px solid transparent;
    
}
.site-header.sticky-head{
background-color: rgb(255 255 255 / 80%);
border-color: #f2f2f2;
backdrop-filter: blur(20px);

}
.main-navigation{
    display: flex;
    width: 100%;
    height:100% ;
    justify-content: flex-end;
    align-items: center;
}
.main-navigation .menu li{
    display: inline-block;
    position: relative;
    margin: 0 6px;
}
.main-navigation .menu li:first-child{
    margin-left: 0;
}
.main-navigation .menu li:last-child{
    margin-right:0 ;
}
.main-navigation .menu li:hover>ul, .main-navigation .menu li.focus>ul{
    opacity: 1;
    margin-top: 6px;
    visibility: visible;
}
a {
    background-color: transparent;
    text-decoration: none !important;
    outline: none !important;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-navigation .menu ul a{
    width: 200px;

}
.main-navigation .menu li:hover>ul, .main-navigation .menu li.focus>ul{
    left :auto;

}
.main-navigation .menu li a{
    display: flex;
    transition: 0.3s;
    position: relative;
    justify-content: center;
    align-items: center;
    color:#0d0d25;
    text-transform: capitalize;
    font-weight: 500;
    padding: 5px 18px;
    border-radius: 30px;

}
.main-navigation .menu li a:hover,
.main-navigation .menu li .active-menu,
.main-navigation .menu .sub-menu li .active-sub-menu{
    color: #ff8243;
    background-color: #f3f3f5;
    box-shadow:insert 8px 8px 8px 12px #e2e2e2,insert -8px -8px 12px #ffffff ;
}
.header-right{
    margin-left:40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header-btn{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    margin-left: 20px;
    transition: 0.3s;
    box-shadow: inset 6px 6px 7px #dadada, inset -6px -6px 7px #ffffff;
    align-items: center;
}
.cart-number{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 12px;
    border: 1px solid #fbfbfb;
    color: #ff8243;
}
.header-btn:hover{
    background:linear-gradient(145deg,#dcdcdc,#ffffff);
    box-shadow: 20px 20px 60px #cfcfd0, -20px -20px 60px #ffffff;

}
.header-search-form{
    position: relative;
}
.for-des{
    display: block !important;
}
.header-search-form button{
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0,-50%);
    width: 48px;
    height: 100%;
    opacity: 0.5;
}
.header-search-form .form-input{
    font-size: 14px;
    padding-right:40px;
    width: 200px;
    height: 40px;
}
.form-input::placeholder{
    color: rgba(70 69 71 / 0.7);

}
.form-input{
    width: 100%;
    height: 50px;
    outline:none !important ;
    padding: 10px 15px;
    color: #0d0d25;
    -webkit-appearance: none;
    border-radius: 10px;
    border: none;
    background-color: #f8f8f8;
    box-shadow: inset 6px 6px 8px #dadada,inset -6px -6px 8px #ffff;
}
*{
    -webkit-tap-highlight-color: transparent;
}
.uil{
    color: #ff8243;
}
@media screen  and (min-width:992px){
    .menu-toggle{
        display: none;
    }
}
@media(min-width:1500px){
    .container{
        max-width: 1368px;
    }

}
@media (min-width:2100px){
    .container{
        max-width: 1400px;
    }
    p,body,button,input{
        font-size: 18px;
        line-height: 32px;
    }
}
@media (max-width:1399) {
    .header-right{
        margin-left: 20px;
    }
    .main-navigation .menu li{
        margin: 0 3px;
    }
}
@media (max-width:1199px) {
    .header-btn{
        margin-left: 10px;

    }
    .header-right{
        margin-left: 10px;
    }
    .main-navigation .menu li{
        margin: 0;
    }
    .main-navigation .menu li a{
        padding: 4px 15px;
        font-size: 15px;
    }
    .header-search-form .form-input{
        width: 170px; 
    }
    
}
@media (max-width:991px) {
    .section{
        padding-top: 85px;
        padding-bottom: 85px;

    }
    .for-des{
        display: none !important;
    }
    .for-mob{
        display: block !important;
    }
    .site-header .container{
        max-width: 100%;
        padding: 0;
        height: 100%;
    }
    .site-header .container .row{
        margin: 0;
        height: 100%;
    }
    .site-header .container .row .col-lg-2{
        width: auto;
        padding: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 30px;
        z-index: 2;
        display: flex;
        align-items: center;
    }
    .menu-toggle{
        position: absolute;
        top: 50%;
        right: 30px;
        border: none;
        outline: none !important;
        background:transparent;
        width: 40px;
        height: 40px;
        transform: translate(0,-50%);
        z-index: 100;
        box-shadow: inset 6px 6px 7px #dadada, -6px -6px 10px #ffffff ;
        border-radius: 10px;
        padding: 0 8px;

    }
    .menu-toggle span{
        display: block;
        width: 100%;
        height: 4px;
        background-color: #ff8243;
        margin-bottom: 5px;
        transition: 0.3s;
        border-radius: 5px;
        position: relative;
    }
    .menu-toggle span:Last-child{
        margin: 0
    }
    .toggled .menu-toggle span:nth-child(1){
        transform: rotate(45deg);
        top: 5px;
    }
    .toggled .menu-toggle span:nth-child(2){
        transform:rotate(-45deg);
        top: -4px;
    }
    .toggled .menu-toggle span:nth-child(3){
        opacity: 0;
        height: 0;
    }
    .toggled .header-menu{
        transform:translateY(0) ;
    }
    .header-menu{
        position: absolute;
        height: 100vh;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: max(9vh,30px);
        padding-left: max(6vh, 30px);
        z-index: 99;
        transition:1s cubic-bezier(0.165,0.84,0.44,1);
        overflow: auto;
        transform: translateY(-100%);
        background-image: url(blog-pattern-bg.png) ;
        background-color: #f3f3f5;
        background-position: center;
    }

    .main-navigation .menu li{
        display: block;
        float: none;
        margin: 0;
        margin-bottom:max(20px, 2vh );
    }
    .main-navigation .menu .sub-menu{
        max-width: 220px;
        opacity: 1;
        visibility: visible;
        display: none;
    }
    .main-navigation .menu .sub-menu{
        max-width: 220px;
        opacity: 1;
        visibility: visible;
        display: none;

    }
    .main-navigation .menu .sub-menu li{
        margin-bottom: 5px;
    }
    .main-navigation .menu li:last-child{
        margin: 0;
    }
    .main-navigation .menu .sub-menu li a{
        color: #ff8243;
    }
    .header-btn.header-cart{
        display: none;
    }
    .header-btn{
        margin: 0;
        margin-right: 70px;
    }
    .site-header{
        padding: 20px 0;
        box-shadow: 0px 10px 55px #d4d4d4;
    }
    .site-header.sticky_head, .site-header{
        background: rgb(255 255 255 / 90%);
    }
    body{
        height: auto !important;
    }

} 
@media (max-width:575px) {
    .container, .container-fluid{
        padding: 0 30px;
    }
    
}
@media (max-width:400px) {
    .container, .container-fluid{
        padding: 0 15px;
    }
    .header-btn{
        margin-right: 56px;
    }
    .menu-toggle{
        right: 15px;
    }
    .site-header .container .row .col-lg-2{
        left: 15px;
    }
    
}
/********************************************************* */
 @media screen and (min-width:992px) {
    #viewport{
        overflow:hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

    }
    
    #js-scroll-content{
        position: absolute;
        overflow: hidden;
        width: 100%;
        top: 0;
        left: 0;
    }
}
@media (max-width:991px) {
    #js-scroll-content{
        transform: unset !important;
    }
    
}
.js-parallax-scene{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.banner-img-wp{
    width: 100%;
    height: 100%;
    padding-left: 30px;
}
.banner-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: biani 4.5s linear infinite alternate;
    box-shadow: 0 0px 20px rgba(36 ,39,37,0.3);
}
/* @keyframe  */
.banner-img-text .h5-title{
  text-transform: capitalize;
  letter-spacing: 0.5px;  
}
.banner-img-text{
    max-width: 400px;
}
.banner-shape-1 img{
    position:absolute;
    left: 85%;
    top: 60px;
    max-width: 150px;
    pointer-events: none;
    filter: blur(3px);

}
.banner-shape-2{
    top: auto !important;
    bottom: 0;

}
.banner-shape-2 img{
    position: absolute;
    bottom: 0;
    right:82% !important;
    max-width: 410px;
    pointer-events: none;
    filter: blur(3px);
}
.sec-wp{
    position: relative;
    z-index: 4;
}
.h1-title{
    font-size: 90px;
    line-height: 108px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 900;
}
.h1-title span{
    color: #ff8243;
    background-image: linear-gradient(0deg,rgb(13 13 37 /8%),rgb(13 13 37/8%));
    background-size: 100% 15px;
    background-position: 0 90%;
    display: inline;
    background-repeat: no-repeat;
    transition: 0.8s cubic-bezier(0.22, 0.78, 0.45,1.02);
}