div{
    height: 200px;
    width: 400px;
    border: 2px solid red;
    justify-content: space-between;
    padding-left:45px;
   
    background-color: aqua;
    /* margin-left:40%; */
    
}
div h1{
    padding-top: 50px;
}
div p{
    padding-left: 50px;
}
div h3{
    padding-left:50px ;
}

body{
    margin-left: 50%;
}
